<body>


    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h2 class="display-3">Listado</h2>
                <app-tabla-paises (paisSeleccionadoEvent)="tomarPaisParaDetalles($event)" ></app-tabla-paises>
            </div>
        </div>





        <div class="container">
            <!-- Example row of columns -->
            <div class="row">

                <div class="col-md-4">
                    <h2>Heading 1</h2>

                </div>

                <div class="col-md-4">
                    <app-detalle-pais [paisSeleccionado]="paisParaMostar"></app-detalle-pais>
                </div>

                <div class="col-md-4">
                    <h2>Heading 3</h2>

                </div>

            </div>
            <hr>
        </div> <!-- /container -->




        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020, Sinisterra Luciano. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>